
body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/* Global */
ul{
  margin: 0;
  padding: 0;
}

/* Header */

/* header {
  background-color: rgb(255,255,255);
  color: rgb(0,0,0);
  padding-top: 30px;
  text-align: left;
  min-height: 100px;
  width: 100%;
  display: flex;
}

header a{
  color: rgb(0,0,0);
  text-decoration: none;
  font-size: 16px;
}

header li{
  padding: 0 20px;
}

header .navbar{
  margin: 0;
  padding: 0;
  width: 80%
}

header .login-signup{
  background-color: red;
  width: 20%;
}

.logo_link img{
  width: 60px;
  height: auto;
} */

/* Header */

/* Header */

header {
  background-color: rgb(255, 255, 255);
  min-height: 100px;
  display: flex;
  align-items: center; /* Align items vertically */
}

header a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 16px;
}

header li {
  padding: 0 20px;
  list-style: none;
}

header .navbar,
header .login-signup {
  margin: 0;
  padding: 0;
}

header .navbar {
  width: 65%;
}

header .login-signup {
  width: 35%;
  text-align: right;
}

.menu {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  align-items: center;
}

.login-signup .menu {
  justify-content: right;
}

.navbar .menu {
  align-items: center;
}

.logo_link {
  display: flex;
  align-items: center;
}
.logo_link img {
  width: 60px;
  height: auto;
  align-items: center;
}



/* Main */

main {
  padding: 0px 30px;
}

#main-title{
  width: 100%;
  font-size: 80px;
}

/* Footer */

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
}

.instagram_logo{
  width: 30px;
  height: auto;
}


/*Media Queries*/

@media(max-width: 768px){
  header .navbar, header .login-signup,
  main h1{
      float: none;
      text-align: center;
  }
  header{
      padding-bottom: 20px;
  }
  main h1{
      margin-top: 40px;
  }

}
