
body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
  --buildia-blue: rgb(74 106 252);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


a{
  text-decoration: none;
  color: var(--buildia-blue);
}

p, h1, a{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
  font-size: 20px;
}

footer p{
  font-size: 12px;
}

h1{
  margin: 30px 0px 40px 0px;
}

/* Header */

/* header {
  background-color: rgb(255,255,255);
  color: rgb(0,0,0);
  padding-top: 30px;
  text-align: left;
  min-height: 100px;
  width: 100%;
  display: flex;
}

header a{
  color: rgb(0,0,0);
  text-decoration: none;
  font-size: 16px;
}

header li{
  padding: 0 20px;
}

header .navbar{
  margin: 0;
  padding: 0;
  width: 80%
}

header .login-signup{
  background-color: red;
  width: 20%;
}

.logo_link img{
  width: 60px;
  height: auto;
} */

/* Header */

/* Header */

header {
  background-color: rgb(255, 255, 255);
  min-height: 100px;
  display: flex;
  align-items: center; /* Align items vertically */
}

header a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 16px;
}

header li {
  padding: 0 20px;
  list-style: none;
}

header .navbar,
header .login-signup {
  margin: 0;
  padding: 0;
}

header .navbar {
  width: 65%;
}

header .login-signup {
  width: 35%;
  text-align: right;
}

.menu {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  align-items: center;
}

.login-signup .menu {
  justify-content: right;
}

.navbar .menu {
  align-items: center;
}

.logo_link {
  display: flex;
  align-items: center;
}
.logo_link img {
  width: 60px;
  height: auto;
  align-items: center;
}



/* Main */

#main-home {
  padding: 30px;
  min-height: 100vh;
}

#main-title{
  width: 100%;
  font-size: 80px;
}

/* Footer */

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
}

.instagram_logo{
  width: 30px;
  height: auto;
}

#about-main{
  box-sizing: border-box;
  width: 50%;
  padding: 30px 30px;
}


#about-main li{
  list-style: none;
}

#contact-main{
  padding: 30px;
  min-height: 100vh;
}

#contact-main li{
  list-style: none;
}

.space-30{
  padding-top: 30px;
}

.space-10{
  padding-top: 10px;
}

/*Media Queries*/

@media(max-width: 768px){
  main{
      text-align: center;
  }
  #about-main{
    width: 100%;
  }
  main h1{
      margin-top: 40px;
  }

}
